body {
	font-family: 'Pacifico', cursive;
	color:	 white;
	position:	fixed;
	top:	0;
	bottom:	0;
	left:	0;
	right:	0;
}

#h1 {
	background-color: black;
	text-align: center;
	font-size: 300%;
}

html {
	position:	fixed;
	top:	0;
	bottom:	0;
	left:	0;
	right:	0;
}

#Pong {
	background-image: linear-gradient(to right bottom, #e3228f, #d54cb1, #c169cb, #ab80dd, #9693e6, #83a3f1, #73b2f6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
	font-family: 'Lato'
}

